{% extends "layout.html" %}
{% block link %}
            <link rel="stylesheet" href="{{ url_for('static', filename='styles/debates_list.css') }}" />
            <link rel="stylesheet" href="{{ url_for('static', filename='styles/debate.css') }}" />
{% endblock %}

{% block body%}
        <div class="debate">
            <div class="title"><a href="/debate/{{ id_debate }}">{{ debate_title }}</a></div>       
            <div class="description">{{ debate_description }}</div>        
            <div class="sort_button"><a href="/debate/{{id_debate}}"><button>Sort by most popular</button></a></div>
        </div>

        {%if not propositions%}
        
        <div style=" position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);">
        <p style="font-size: large;">No proposals yet...</p>
        </div>
        
        {%endif%}

        {% if isLoggedIn=="true" %}

            <div class=record_message>

                <form action="/audioInput/{{ id_debate }}">
                    <input type="submit" value="+" title="Ajoutez une commentaire au débat"/>
                </form>
        
            </div>
        {% endif %}

        <div class="propositions">

            
            {% for path, date, author, title, comment_count, linked_count, token_count,id_proposition,id_debate,name_linked,id_linked in propositions %}
                <!-- href="{{url_for('proposition',id_proposition=id_proposition,id_debate='id_debate')}}" -->
                    <div class="proposition">
                        <div class="title_and_link_button">                            
                            <a href="{{url_for('proposition',id_proposition=id_proposition,id_debate=id_debate)}}"><h3>{{ title }}</h3></a>
                            {% if name_linked != 'vide' %}
                            <a href="{{url_for('proposition',id_proposition=id_linked,id_debate=id_debate)}}"><p>Quotes: {{ name_linked }}</p></a>
                            {% endif %}
                            <div class="buttons" >
                                <a href="/audioInputLinked/{{id_debate}}/{{ id_proposition }}"><button>Citer</button></a> 
                                <a href="/like/{{id_debate}}/{{ id_proposition }}"><button>Give a token</button></a>                           
                            </div>
                        </div>
                        <a href="{{url_for('proposition',id_proposition=id_proposition,id_debate=id_debate)}}">
                        <div class="audio_and_author">
                            <audio controls> <source src="../static/data/{{path}}"/> </audio>
                            <p>by {{ author }}</p>
                        </div>
                        </a>
                        <a href="{{url_for('proposition',id_proposition=id_proposition,id_debate=id_debate)}}">
                        <div class="com_and_linked_and_token">
                            <div class="com_or_linked_or_token"> <p>{{ comment_count }} comments</p> </div>
                            <div class="com_or_linked_or_token"> <p>{{ linked_count }} linked proposals</p> </div>                        
                            <div class="com_or_linked_or_token"> <p>{{token_count }} tokens</p> </div>
                            <!--<div class="date"> <p>publié le {{ date }}</p> </div>-->
                        </div>
                        </a>
                    </div>
            {% endfor %}


        
        </div>
{% endblock %}
