
.body {
    padding :20px 5% 140px 5%;
    min-height: 108vh;
    display: flex;
    flex-direction: row;
    cursor: default;
}

.bloc {
    padding :20px 5% 140px 5%;
    height: 300px;
    width: 200px;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    cursor: default;
}
.stats_uniquement{border: 5px solid rgb(28, 177, 120);
    height: auto ;
    width: auto;
    display: flex;
    background: rgb(118, 200, 214);
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

